.margin-bottom-20 {
    margin-bottom: 20px;
}

.container-principal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-navbar {
    margin-left: 10px!important;
    margin-right: 10px!important;
}

#media-notas-amigos, #media-notas-hospede, #media-notas-anfitriao, #media-notas-leva, #media-notas-participa {
    cursor: pointer;
}

#avaliacoes-amigos, #avaliacoes-hospede, #avaliacoes-anfitriao, #avaliacoes-leva, #avaliacoes-participa {
    display: none;
}
